<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <style>
      @media only screen and (min-width: 1000px) {
        .is-none{
          margin-left: -95%;
        }
      }
    </style>
</head>
<body>
  <header class="bg-light">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <h1>Alclub</h1>
            </a>
  
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="{% url 'gigs' %}" class="nav-link text-white">
                  <i class="bi bi-person-video3"></i>
                  Gia Sư
                </a>
              </li>
              <li>
                <a href="{% url 'post' %}" class="nav-link text-white">
                  <i class="bi bi-people"></i>
                  Cộng Đồng
                </a>
              </li>
              <li>
                <a href="{% url 'question' %}" class="nav-link text-secondary">
                  <i class="bi bi-question-circle"></i>
                  Hỏi & Đáp
                </a>
              </li>
              <li>
                <a href="{% url 'document' %}" class="nav-link text-white">
                  <i class="bi bi-file-earmark"></i>
                  Tài Liệu
                </a>
              </li>
              <li>
                <a href="{% url 'trade' %}" class="nav-link text-white">
                  <i class="bi bi-coin"></i>
                  Tài Chính
                </a>
              </li>
              <li>
                <div class="dropdown">
                  <button class="nav-link text-white dropdown-toggle" style="border: none;background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> Tài Khoản
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'your_profile' %}" class="dropdown-item">Thông Tin Tài Khoản</a></li>
                    <li><a href="{% url 'update_profile' %}" class="dropdown-item">Thay Đổi Thông Tin Tài Khoản</a></li>
                    <li><a href="{% url 'log_out' %}" class="dropdown-item link-danger">Đăng Xuất</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="px-3 py-2 shadow mb-3">
        <div class="container rows flex-wrap justify-content-center" style="display: flex;">
          <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            <div class="d-flex">
              <input placeholder="Tìm kiếm..." type="text" class="form-control w-100" style="margin-right: 10px;">
              <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>

          <div class="text-end justify-content-end align-items-end">
            <a class="btn btn-primary">Số dư của bạn: {{teen}}</a>
            {% if bio == post.user %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#delete_question" class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
            {% endif %}
          </div>
        </div>
      </div>
</header>
    <main class="container">
        <a><i class="bi bi-arrow-left"></i> Trở về</a>
        <div class="card rounded shadow-lg w-75 justify-content-center align-items-center mx-auto" style="padding: 5%;">
            <div class="card-body">
                <h1 class="text-center">Cập Nhật Tài Khoản</h1>
                <form action="/create/post/" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                      <div class="row">
                        <div class="col-lg">
                            <label>Tiêu Đề</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg">
                            <label>Học Vấn</label>
                            <select id="edu_rank" name="edu_rank" class="form-select" required>
                                {% for edu in educations %}
                                    <option value="{{edu.id}}">{{edu.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg">
                            <label>Lớp</label>
                            <input type="number" class="form-control w-100" required>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <label>Ảnh</label>
                            <input type="file" class="form-control" required>
                        </div>
                        <div class="col">
                            <button type="button" style="background: none;border: none;" data-toggle="tooltip" data-placement="top" title="Hiện Hệ Thống Của Chúng Tôi Chưa Đủ Nhiều Để Chứa File. Xin Lỗi Vì Sự Bất Tiện Này!">Link File</button>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <label>Subject</label>
                            <select id="edu_rank" name="edu_rank" class="form-select" required>
                                {% for subject in subjects %}
                                    <option value="{{edu.id}}">{{subject.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label>Phần Thưởng</label>
                            <input type="number" step="0.01" class="form-control w-100" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <label>Mô Tả</label>
                            <textarea class="form-control" rows="5" cols="5"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <button type="submit" class="btn btn-success w-100">Đăng</button>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </main>
</body>
</html>