<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <style>
      @media only screen and (min-width: 1000px) {
        .is-none{
          margin-left: -95%;
        }
      }
    </style>
</head>
<body>
  <header class="bg-light">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <h1>Alclub</h1>
            </a>
  
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="{% url 'gigs' %}" class="nav-link text-white">
                  <i class="bi bi-person-video3"></i>
                  Gia Sư
                </a>
              </li>
              <li>
                <a href="{% url 'post' %}" class="nav-link text-secondary">
                  <i class="bi bi-people"></i>
                  Cộng Đồng
                </a>
              </li>
              <li>
                <a href="{% url 'question' %}" class="nav-link text-white">
                  <i class="bi bi-question-circle"></i>
                  Hỏi & Đáp
                </a>
              </li>
              <li>
                <a href="{% url 'document' %}" class="nav-link text-white">
                  <i class="bi bi-file-earmark"></i>
                  Tài Liệu
                </a>
              </li>
              <li>
                <a href="{% url 'trade' %}" class="nav-link text-white">
                  <i class="bi bi-coin"></i>
                  Tài Chính
                </a>
              </li>
              <li>
                <div class="dropdown">
                  <button class="nav-link text-white dropdown-toggle" style="border: none;background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> Tài Khoản
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'your_profile' %}" class="dropdown-item">Thông Tin Tài Khoản</a></li>
                    <li><a href="{% url 'update_profile' %}" class="dropdown-item">Thay Đổi Thông Tin Tài Khoản</a></li>
                    <li><a href="{% url 'log_out' %}" class="dropdown-item link-danger">Đăng Xuất</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="px-3 py-2 shadow mb-3">
        <div class="container rows flex-wrap justify-content-center" style="display: flex;">
          <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            <div class="d-flex">
              <input placeholder="Tìm kiếm..." type="text" class="form-control w-100" style="margin-right: 10px;">
              <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>

          <div class="text-end justify-content-end align-items-end">
            <a class="btn btn-primary">Số dư của bạn: {{teen}}</a>
          </div>
        </div>
      </div>
</header>
    <main>
        <div class="container">
            <br>
            <div class="card w-75 d-flex justify-content-center align-items-center mx-auto vh-75" style="box-shadow: none;border: none;">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success w-100 shadow">Tạo Bài Viết</button>
            </div>
            <br>
            {% if posts|length != 0 %}
                {% for post in posts %}
                    <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                        <div class="card-header w-100" id="{{post.id}}">
                            <div class="container">
                                <div class="columns">
                                  <div class="column">
                                    <img src="{{post.user.avatar.url}}" class="rounded-circle" style="width: 50px;"> <a class="link-dark">   {{post.user.user.username}}</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-self-end" style="margin-top: 10px;">
                          <div class="col align-self-end">
                            <div class="dropdown">
                              <button class="" style="border: none;background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                              </button>
                              <ul class="dropdown-menu">
                                {% if request.user.id == post.user.id %}
                                  <li><button data-bs-target="#delete" data-bs-toggle="modal" class="dropdown-item link-danger" href="#">Xóa Bài Viết</button></li>
                                {% endif %}
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="card-body w-100">
                        <h6 class="card-text text-start align-items-start">{{post.content}}</h6>
                        <br>
                        <div class="columns">
                          <div class="column w-100">
                            <a href="{% url 'like_post' id=post.id %}" class="btn btn-primary w-100"><i class="bi bi-hand-thumbs-up"></i> {{post.like.count}}</a>
                          </div>
                          <div class="column w-100">
                            <a href="{% url 'dislike_post' id=post.id %}" class="btn btn-danger w-100"><i class="bi bi-hand-thumbs-down"></i> {{post.dislike.count}}</a>
                          </div>
                          <div class="column w-100">
                            <a href="{% url 'comment_post_view' id=post.id %}" class="btn btn-secondary w-100"><i class="bi bi-chat-left-text"></i> {{post.comment_counter}}</a>
                          </div>
                        </div>
                        </div>
                        <div class="card-footer w-100 align-items-center justify-content-center">
                          <p class="text-center">{{post.datetime}}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                    <div class="card w-75 align-items-center justify-content-center vh-75 mx-auto d-flex text-center">
                        <h1 style="padding: 15px;">Chưa có bài viết nào</h1>
                    </div>
            {% endif %}
        </div>
    </main>
    <footer class="fixed-bottom text-center" style="margin-bottom: 10px;">
        Copyright
    </footer>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h5 class="title is-4">Đăng bài</h5>
                  <form action="/create/post/" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                      <textarea class="form-control shadow" name="content" id="content" cols="100" rows="10" placeholder="Bạn đang nghĩ gì vậy?"></textarea>
                      <br>
                      <input type="file" class="form-control shadow" name="image"/>
                      <br>
                      <button class="btn shadow btn-success w-100">Đăng</button>
                  </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            Xóa Bài Viết
          </div>
          <div class="modal-body">
            Bạn có Chắc Là Muốn Xóa Bài Viết Này Không?
          </div>
          <div class="modal-footer">
                <a href="" class="btn btn-danger">Tôi Chắc Chắn</a>
                <a href="" class="btn btn-secondary" data-bs-dismiss="#delete">Không, Tôi Không Muốn Xóa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>