<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div style="padding: 5%;">
            <div class="card rounded shadow-lg" style="padding: 10%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1>Hello world</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col">
                            <h1 class="text-center">Đăng nhập</h1>
                            <form action="{% url 'a_login' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div style="margin-bottom: 10px;">
                                    <label>Tên Người Dùng</label>
                                    <input type="text" name="username" class="form-control w-100">
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <label>Mật khẩu</label>
                                    <input type="password" name="password" class="form-control w-100">
                                </div>
                                <button type="submit" class="btn btn-success w-100" style="margin-bottom: 10px;">Đăng nhập</button>
                            </form>
                            <div class="bg-secondary w-100 rounded" style="height: 1px;margin-bottom: 10px;"></div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Đăng ký
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade w-100" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title text-center fs-5" id="exampleModalLabel">Đăng ký tài khoản</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <form action="/accounts/sign/up/" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg">
                                                <label>Tên Người Dùng</label>
                                                <input type="text" class="form-control w-100" required>
                                            </div>
                                            <div class="col-lg">
                                                <label>Học Vấn</label>
                                                <select id="edu_rank" name="edu_rank" class="form-select" required>
                                                    {% for edu in educations %}
                                                    <option value="{{edu.id}}">{{edu.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg">
                                                <label>Lớp</label>
                                                <input type="number" class="form-control w-100" required>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-lg">
                                                <label>Email</label>
                                                <input type="text" class="form-control" required>
                                            </div> 
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-lg">
                                                <label>Avatar</label>
                                                <input type="file" class="form-control" required>
                                            </div>
                                            <div class="col-lg">
                                                <label>Ảnh Bìa</label>
                                                <input type="file" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-lg">
                                                <label>Mô Tả</label>
                                                <textarea class="form-control" rows="5" cols="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-lg">
                                                <label>Mật Khẩu</label>
                                                <input type="password" class="form-control" required>
                                            </div>
                                            <div class="col-lg">
                                                <label>Mã PIN ví BDT</label>
                                                <input type="password" pattern="[0-9]*" inputmode="numberic" maxlength="6" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success w-100" data-bs-dismiss="modal">Đăng ký</button>
                                    </div>
                                </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="fixed-bottom text-center">
        <p class="text-secodary">The Product by BDT</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>