<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <style>
      @media only screen and (min-width: 1000px) {
        .is-none{
          margin-left: -95%;
        }
      }
    </style>
</head>
<body>
    <header class="bg-light">
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                  <h1>Alclub</h1>
                </a>
      
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                  <li>
                    <a href="{% url 'gigs' %}" class="nav-link text-white">
                      <i class="bi bi-person-video3"></i>
                      Gia Sư
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'post' %}" class="nav-link text-white">
                      <i class="bi bi-people"></i>
                      Cộng Đồng
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'question' %}" class="nav-link text-white">
                      <i class="bi bi-question-circle"></i>
                      Hỏi & Đáp
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'document' %}" class="nav-link text-white">
                      <i class="bi bi-file-earmark"></i>
                      Tài Liệu
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'trade' %}" class="nav-link text-white">
                      <i class="bi bi-coin"></i>
                      Tài Chính
                    </a>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button class="nav-link text-white dropdown-toggle" style="border: none;background-color: transparent;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i> Tài Khoản
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'your_profile' %}" class="dropdown-item">Thông Tin Tài Khoản</a></li>
                        <li><a href="{% url 'update_profile' %}" class="dropdown-item">Thay Đổi Thông Tin Tài Khoản</a></li>
                        <li><a href="{% url 'log_out' %}" class="dropdown-item link-danger">Đăng Xuất</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="px-3 py-2 shadow mb-3">
            <div class="container rows flex-wrap justify-content-center" style="display: flex;">
              <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <div class="d-flex">
                  <input placeholder="Tìm kiếm..." type="text" class="form-control w-100" style="margin-right: 10px;">
                  <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                </div>
              </form>

              <div class="text-end justify-content-end align-items-end">
                <a class="btn btn-primary">Số dư của bạn: {{teen}}</a>
                {% if bio == post.user %}
                    <button type="button" data-bs-toggle="modal" data-bs-target="#delete_question" class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
                {% endif %}
              </div>
            </div>
          </div>
    </header>
    <img src="{{user.thumbnail.url}}" class="w-100 h-75" style="object-fit: cover;" />
    <div class="container">
        <div style="margin-top: 20px;">
            <div class="columns">
                <div class="column align-self-start">
                    <div class="d-lg-flex">
                        <img src="{{user.avatar.url}}" class="rounded-circle" style="width: 200px;height: 200px;" />
                        <h1 style="padding-top: 10%;margin-left: 5%;">{{user.user.username}}</h1>
                    </div>
                </div>
                <div class="column align-items-end">
                    <ul class="text-end" style="padding-top: 10%;margin-left: 5%;">
                        <li>Học vấn: {{user.edu_rank.name}}</li>
                        <li>Khối lớp: {{user.grade}}</li>
                        <li>Ví: {{user.address}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns w-100" style="margin-top: 5%;">
                <div class="column w-100">
                    {% if user.facebook %}
                        <a class="btn btn-primary w-100"><i class="bi bi-facebook"></i> Facebook</a>
                    {% else %}
                        <a class="btn btn-primary disabled w-100"><i class="bi bi-facebook"></i> Facebook</a>
                    {% endif %}
                </div>
                <div class="column w-100">
                    {% if user.twitter %}
                        <a class="btn btn-dark w-100"><i class="bi bi-twitter"></i> Twitter X</a>
                    {% else %}
                        <a class="btn btn-dark disabled w-100"><i class="bi bi-twitter"></i> Twitter X</a>
                    {% endif %}
                </div>
                <div class="column w-100">
                    {% if user.instagram %}
                        <a class="btn btn-danger w-100"><i class="bi bi-instagram"></i> Instagram</a>
                    {% else %}
                        <a class="btn btn-danger disabled w-100"><i class="bi bi-instagram"></i> Instagram</a>
                    {% endif %}
                </div>
                <div class="column w-100">
                    {% if user.zalo %}
                        <a class="btn btn-primary w-100"><i class="bi bi-chat-dots"></i> Zalo</a>
                    {% else %}
                        <a class="btn btn-primary disabled w-100"><i class="bi bi-chat-dots"></i> Zalo</a>
                    {% endif %}
                </div>
        </div>
        <h1 class="text-center title is-1" style="margin-top: 5%;margin-bottom: 5%;">Hoạt Động Gân Đây</h1>
        <div class="bg-secondary w-100 rounded" style="height: 3px;"></div>
        {% if document %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Tài liệu
                    </div>
                </div>
                {% if post.image %}
                <img src="{{document.image.urls}}" class="w-100 h-50 rounded" style="object-fit: cover;" />
                {% endif %}
                <div class="card-body w-100">
                <a class="link-dark"><h3 class="card-text text-start align-items-start">{{document.title}}</h3></a>
                <br>
                <div class="columns">
                <div class="column w-100">
                    <a class="btn btn-primary w-100"><i class="bi bi-hand-thumbs-up"></i> {{document.like.count}}</a>
                </div>
                <div class="column w-100">
                    <a class="btn btn-danger w-100"><i class="bi bi-hand-thumbs-down"></i> {{document.dislike.count}}</a>
                </div>
                <div class="column w-100">
                    <a class="btn btn-secondary w-100"><i class="bi bi-chat-left-text"></i> {{document.comment_count}}</a>
                </div>
                </div>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center">{{document.datetime}}</p>
                </div>
            </div>
            <br>
        {% else %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Tài liệu
                    </div>
                </div>
                <div class="card-body w-100">
                    <h1 class="text-center">Not Found</h1>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center">{{document.datetime}}</p>
                </div>
            </div>
            <br>
        {% endif %}
        {% if post %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Bài Đăng
                    </div>
                </div>
                <div class="card-body w-100">
                    <h6 class="card-text text-start align-items-start">{{post.content}}</h6>
                <br>
                <div class="columns">
                <div class="column w-100">
                    <a href="{% url 'like_post' id=post.id %}" class="btn btn-primary w-100"><i class="bi bi-hand-thumbs-up"></i> {{post.like.count}}</a>
                </div>
                <div class="column w-100">
                    <a href="{% url 'dislike_post' id=post.id %}" class="btn btn-danger w-100"><i class="bi bi-hand-thumbs-down"></i> {{post.dislike.count}}</a>
                </div>
                <div class="column w-100">
                    <a href="{% url 'comment_post_view' id=post.id %}" class="btn btn-secondary w-100"><i class="bi bi-chat-left-text"></i> {{post.comment_count}}</a>
                </div>
                </div>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center">{{post.datetime}}</p>
                </div>
            </div>
            <br>
        {% else %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Bài Đăng
                    </div>
                </div>
                <div class="card-body w-100">
                    <h1 class="text-center">Not Found</h1>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center">Unknow</p>
                </div>
            </div>
            <br>
        {% endif %}
        {% if question %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Hỏi & Đáp
                    </div>
                </div>
                {% if post.image %}
                <img src="{{question.image.urls}}" class="w-100 h-50 rounded" style="object-fit: cover;" />
                {% endif %}
                <div class="card-body w-100">
                <a class="link-dark"><h3 class="card-text text-start align-items-start">{{question.title}}</h3></a>
                <br>
                <div class="columns">
                <div class="column w-100">
                    <a href="{% url 'like_question' id=question.id %}" class="btn btn-primary w-100"><i class="bi bi-hand-thumbs-up"></i> {{question.like.count}}</a>
                </div>
                <div class="column w-100">
                    <a href="{% url 'like_question' id=question.id %}" class="btn btn-danger w-100"><i class="bi bi-hand-thumbs-down"></i> {{question.dislike.count}}</a>
                </div>
                <div class="column w-100">
                    <a href="{% url 'question_view' id=question.id %}" class="btn btn-secondary w-100"><i class="bi bi-lightbulb"></i> {{question.comment_count}}</a>
                </div>
                </div>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center">{{question.datetime}}</p>
                </div>
            </div>
            <br>
        {% else %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Hỏi & Đáp
                    </div>
                </div>
                <div class="card-body w-100">
                    <h1 class="text-center">Not Found</h1>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center"></p>
                </div>
            </div>
            <br>
        {% endif %}
        {% if gig %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Gia Sư
                    </div>
                </div>
                {% if gig.image %}
                <img src="{{gig.image.urls}}" class="w-100 h-50 rounded" style="object-fit: cover;" />
                {% endif %}
                <div class="card-body w-100">
                <a class="link-dark"><h3 class="card-text text-start align-items-start">{{gig.title}}</h3></a>
                <br>
                <div class="columns">
                <div class="column w-100">
                    <a href="{% url 'like_gig' id=gig.id %}" class="btn btn-primary w-100"><i class="bi bi-hand-thumbs-up"></i> {{gig.like.count}}</a>
                </div>
                <div class="column w-100">
                    <a href="{% url 'like_gig' id=gig.id %}" class="btn btn-danger w-100"><i class="bi bi-hand-thumbs-down"></i> {{gig.dislike.count}}</a>
                </div>
                <div class="column w-100">
                    <a href="{% url 'gig_view' id=gig.id %}" class="btn btn-secondary w-100"><i class="bi bi-chat-left-text"></i> {{gig.comment_count}}</a>
                </div>
                </div>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center">{{gig.datetime}}</p>
                </div>
            </div>
            <br>
        {% else %}
            <div class="d-flex justify-content-center shadow align-items-start w-75 vh-75 mx-auto card">
                <div class="card-header w-100">
                    <div class="container">
                        Gia Sư
                    </div>
                </div>
                <div class="card-body w-100">
                    <h1 class="text-center">Not Found</h1>
                </div>
                <div class="card-footer w-100 align-items-center justify-content-center">
                <p class="text-center"></p>
                </div>
            </div>
            <br>
        {% endif %}
    </div>
</body>
</html>